.container {
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    margin: 10px auto;
}

.titleTopSale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.titleTopSale label {
    color: var(--color-accent);
    background-color: var(--color-primary);
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
}

.titleTopSale h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}


.carrocel {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 10px;

}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 4px;
    width: 350px;
    height: 450px;
    margin: 0px auto;
}

.imageProduct {
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 7px;
    width: 100%;
    margin-top: 20px;
}

.details label {
    font-weight: 700;
    font-size: 1rem;

}

.details span {
    color: var(--color-accent);
    font-weight: 600;
}

.avaliation {
    display: flex;
    color: rgb(201, 201, 24);
    gap: 3px;
}



@media (max-width: 1200px) {
    .carrocel {
        flex-wrap: wrap;
    }
}