.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    height: 40px;
    min-width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background.5s ease, color 0.5s ease;
}


/* ************Colors************** */
.yellow {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.yellow:hover {
    background-color: var(--color-white);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}

.white {
    background-color: var(--color-white);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}

.white:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
    border: 1px solid var(--color-accent);
}

.violet {
    background-color: var(--color-violet);
    color: var(--color-white);
    border: 1px solid var(--color-violet);

}

.violet:hover {
    background-color: var(--color-violet-secondary);
}



/* **********Sizes******************* */
.w-fit {
    width: fit-content;
}

.w-full {
    width: 100%;
}

@media (max-width:516px) {
    .button {
        height: 35px;
        font-size: 0.8rem;
    }

}