.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 4px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background 0.5s ease, color 0.5s ease;
}

.button .icon {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

/* ************Colors************** */

.golden {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    color: var(--color-white);
}

.golden:hover {
    background-color: var(--color-white);
    color: var(--color-accent);

}

.golden:hover .icon {
    color: var(--color-accent);
}

.white {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--color-white);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}

.white .icon {
    color: var(--color-accent);
}

.white:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
    border: 1px solid var(--color-accent);
}

.white:hover .icon {
    color: var(--color-white);
}

.violet {
    background-color: var(--color-violet);
    color: var(--color-white);
    border: 1px solid var(--color-violet);

}

.violet:hover {
    background-color: var(--color-violet-secondary);
}

.success {
    background-color: var(--color-success);
    color: var(--color-white);
    border: 1px solid var(--color-success);

}

.success:hover {
    background-color: var(--color-success-secondary);
}

/* **********Sizes******************* */
/*********** width*********** */
.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.w-sm {
    width: 100px;
}

.w-md {
    width: 300px;
}

.w-lg {
    width: 400px;
}

/**********height***************/
.h-sm {
    height: 25px;
}
.h-md {
    height: 30px;
}
.h-lg {
    height: 40px;
}



@media (max-width:516px) {
    .button {
        height: 35px;
        font-size: 0.8rem;
    }

}