* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #f5f3ed;
  --color-surface: #ebe5d9;
  --color-white: #ffffff;
  --color-accent: #b08b5d;
  --color-gray: #5e5e5e;
  --color-gray-secondary: #444545;
  --color-secondary: #d3bfa6;
  --color-primary: #f5f1e6;
  --color-ice: #c2f2ff;
  --color-black: #000000;
  --color-stars: #c9c918;
  --color-violet: #6d63ff;
  --color-violet-secondary: #5a50e6;
  --color-success: #009689;
  --color-success-secondary: #005f5a;
  --color-red: red;
  --color-border: #cfcfcf61;
  --color-box-shandow: 0 0 0.9rem #bcbcbc;
  --color-bg-body: #f6f6f6;
  --color-realonly: #eeeeee;
}


body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--color-bg-body)
}

a {
  text-decoration: none;
}


.group__fields {
  display: flex;
  flex-wrap: wrap;
  align-items: last baseline;
  gap: 10px;
  margin: 10px 0px;

}

/* Class -------- .required -----------
 * Responsavel por add * nos label onde os inputs são campo obrigatório de preenchimento. 
 * Objetivo é trazer uma experiencia visual para o usuário.
 */
.required::after {
  content: "*";
  color: var(--color-red);
  margin-left: 3px;

}
.realonly{
  background-color: var(--color-realonly);
}


