* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


:root {
  --color-background: #f5f3ed;
  --color-surface: #ebe5d9;
  --color-white: #ffffff;
  --color-accent: #b08b5d;
  --color-gray: #5e5e5e;
  --color-secondary: #d3bfa6;
  --color-primary: #f5f1e6;
  --color-ice: #c2f2ff;
  --color-black: #000000;

}

body{
  width: 100dvw;
  overflow-y: none;
}