.input {
    padding: 4px 8px;
    border: 1px solid rgba(128, 128, 128, 0.24);
    border-radius: 4px;
    height: 40px;
    outline: none;
    font-size: 16px;
    color: var(--color-gray);
    transition: all 0.5s ease;
}

.input::placeholder {
    font-size: 0.8rem;
}

.input:focus {
    box-shadow: 0 0 0.3rem  var(--color-violet);
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}